{% extends "base.jinja2" %}
{% block content %}
    <div class="jumbotron">
        <h1>Classes Service</h1>
        <p>You can manage your teachers, students , classes and classes attendance</p>
        <p>Just sign up, and get started by selection teacher class. We'll do the rest!</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('users.register_user') }}" role="button">Get started</a></p>
    </div>
{% endblock %}