{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Attendance
            <small>list of attendances</small>
        </h1>
    </div>
    <div class="list-group">
        {% for attendance in attendances %}
            <a href="{{ url_for('attendances.attendance_page', attendance_id=attendance._id) }}" class="list-group-item">
                <p class="list-group-item-heading">Date: {{ attendance.date }}    Time: {{ attendance.time }}</p>
                <p class="list-group-item-text">Teacher: {{ attendance.teacherusername }}</p>
                <p class="list-group-item-text">Lesson: {{ attendance.lessonname }}</p>
                <p class="list-group-item-text">Student: {{ attendance.studentname }}</p>
            </a>
        {% endfor %}
    </div>
    {% if session['email'] in config.ADMINS %}
        <a class="btn btn-success" href="{{ url_for('attendances.create_attendance') }}"><span
                class="glyphicon glyphicon-plus"></span> Create new</a>
    {% endif %}
{% endblock %}