{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Edit student</h1>
    </div>
    <div class="form">
        <form method="post">
            <div class="form-group">
                <label for="username">User  name</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="User Name" value="{{ student.username }}">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" value="{{ student.password }}">
            </div>
            <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" value="{{ student.firstname }}">
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" value="{{ student.lastname }}">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="HaBarzel 27 , Tel Aviv "
                aria-describedby="locationHelp" value="{{ student.location }}">
                <span id="locationHelp" class="help-block">Please enter your possible location for better class fit.</span>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="abonementtype">abonementtype</label>-->
                <!--<input type="text" class="form-control" id="abonementtype" name="abonementtype" placeholder="Annualy" value="{{ student.abonementtype }}">-->
            <!--</div>-->
           <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="abonementtype">Abonement Type:</label>
              </div>
                <select class="custom-select" id="abonementtype" name="abonementtype"  value="{{ student.abonementtype }}" data-width="fit">
                    <option  value="annually" {% if student.abonementtype=='Annually'%} selected="selected"{% endif %} >Annually</option>
                    <option  value="monthly"  {% if student.abonementtype=='Monthly'%} selected="selected"{% endif %} >Monthly</option>
                    <option  value="limited" {% if student.abonementtype=='Limited'%} selected="selected"{% endif %} >Limited</option>
                </select>
                <span id="lessonURLPrefixHelp" class="help-block">Please select abonement type  for this class.</span>
            </div>
            <div class="form-group">
                <label for="abonementstartdate">Abonement Start Date:</label>
                <input type="text" class="form-control" id="abonementstartdate" name="abonementstartdate" placeholder="DD/MM/YYYY" value="{{ student.abonementstartdate }}">
            </div>
 
            <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="active">Active:</label>
                  </div>
                    <select class="custom-select" id="active" name="active" value="{{ student.active }}"   data-width="fit">
                        <option  value="yes" {% if student.active=='Yes' %} selected="selected"{% endif %} >Yes</option>
                        <option  value="no" {% if student.active=='No' %} selected="selected"{% endif %} >No</option>
                    </select>
                </div>
            </div>
           <button type="submit" class="btn btn-warning">Update</button>
        </form>
    </div>
{% endblock %}



