{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <p>
            <strong>Class: {{ lesson.name }}on
                <p>Date: {{ lesson.date }} at {{ lesson.time }}</p>
            </strong>
        </p>
    </div>
    <p><strong>Teacher :</strong>{{ lesson.teacherusername }}</p>
    <p><strong>Lesson Type:</strong>{{ lesson.lessontype }}</p>
    <p><strong>Students:</strong>:
        {% for attendance in attendances %}
                <p class="list-group-item-text">{{ attendance.studentname }}</p>
        {% endfor %}
    </p>
    {% if session['email'] in config.ADMINS %}
        <div class="panel panel-default">
            <div class="panel-body">
                <a class="btn btn-warning" href="{{ url_for('lessons.edit_lesson', lesson_id=lesson._id) }}" role="button">Edit
                    Lesson</a>
                <a class="btn btn-danger" href="{{ url_for('lessons.delete_lesson', lesson_id=lesson._id) }}" role="button">Permanently
                    Delete Lesson</a>
            </div>
        </div>
    {% endif %}
{% endblock %}