{% extends "base.jinja2" %}
{% block content %}
     <div class="page-header">
        <h1>Create Class</h1>
    </div>
    <div class="form">
        <form method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" >
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="teacher">Teacher:</label>
                  </div>
                    <select class="custom-select" id="teacher" name="teacher" data-width="fit" >
                        {% for teacher in teachers %}
                            <option  id="teacherusername"   name="teacherusername"  value="{{ teacher.username }}"> {{ teacher.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <span id="lessonURLPrefixHelp" class="help-block">Please select teacher for this class.</span>
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="text" class="form-control" id="date" name="date" placeholder="Date"
                       aria-describedby="dateHelp" >
                <span id="dateHelp" class="help-block">Select date for this class.</span>
            </div>
            <div class="form-group">
                <label for="time">Time</label>
                <input type="text" class="form-control" id="time" name="time" placeholder="Time"
                       aria-describedby="timeeHelp">
                <span id="timeeHelp" class="help-block">Select time for this class.</span>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="lessontype">Type:</label>
                  </div>
                    <select class="custom-select" id="lessontype" name="lessontype" data-width="fit" >
                        {% for type in types %}
                            <option  id="lessontypeopt"  name="lessontypeopt"  value="{{ type }}"> {{ type}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-warning">Create</button>
        </form>
    </div>
{% endblock %}