{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Teacher
            <small>{{ teacher.username }}</small>
        </h1>
    </div>
    <p>Password: <strong>{{ teacher.password }}</strong></p><br/>
    <p>firstname: <strong>{{ teacher.firstname }}</strong></p><br/>
    <p>lastname: <strong>{{ teacher.lastname }}</strong></p><br/>
    <p>location: <strong>{{ teacher.location }}</strong></p><br/>
    <p>active: <strong>{{ teacher.active }}</strong></p><br/>
    {% if session['email'] in config.ADMINS %}
        <div class="panel panel-default">
            <div class="panel-body">
                <a class="btn btn-warning" href="{{ url_for('teachers.edit_teacher', teacher_id=teacher._id) }}" role="button">Edit Teacher</a>
                <a class="btn btn-danger" href="{{ url_for('teachers.delete_teacher', teacher_id=teacher._id) }}" role="button">Permanently Delete Teacher</a>
            </div>
        </div>
    {% endif %}


{% endblock %}


